
# === IGNORE ALL ===

/*

# === EXCEPT ===

# Common Files
!/.gitignore
!/LICENSE
!/*.json
!/*.txt
!/*.yml
!/*.md
!/*.js
!/*rc
!/Dockerfile

# Project Files
!/*.sublime-project

!/build
!/public
!/src

# === INGNORE AGAIN ===

**/*.DS_Store
/package-lock.json